{% extends "base.html" %}
{% block page_title %}
	{{ title }}
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
  <div class="col s12 l6">
    <h3>Detección demprana de Desastres</h3>
    <p class="flow-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur tempore distinctio cum nesciunt. Odit blanditiis odio aut. Et blanditiis deserunt repellat, ea perspiciatis eveniet, illo suscipit tempore dolore, dolorem sed!
    </p>
  </div>
  <div class="col s12 l6">
    <div class="row"></div>
    <div class="row center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d31826.56648397153!2d-74.31196563405766!3d4.3507818991926985!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1494452976384" width="450" height="450" frameborder="0" style="border:20px" allowfullscreen></iframe>
    </div>
  </div>
    
  </div>
</div>

{% endblock %}
