{% extends "base.html" %}
{% block page_title %}
	{{ title }}
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row center">
			<h3 class="grey-text">Lista de Zonas</h3>
		</div>
		<div class="row center">
			<a href="{% url 'zone:new' %}" class="btn-large lime waves-effect accent-1 blue-grey-text">Agregar nueva zona</a>
			<h3 class="flow-text">A continuación podrás ver los registros de las zonas del cerro:</h3>
			<div class="row"></div>
			
			<ul class="collapsible" data-collapsible="accordion">
			  {% for zone in object_list %}
			  <li>
			    <div class="collapsible-header"><i class="material-icons"><i class="material-icons">developer_board</i></i>{{ zone.location }}</div>
			    <div class="collapsible-body">
			    	<a href="{% url "zone:detail" event.id %}">
						<i class="material-icons black-text">visibility</i>
					</a>
			    	<a href="{% url "zone:edit" event.id %}">
			    		<i class="material-icons green-text">create</i>
			    	</a>
                	<a href="{% url "zone:delete" event.id %}">
                		<i class="material-icons red-text">delete_sweep</i>
                	</a>
			    </div>
			  </li>

			{% endfor %}

			</ul>
		</div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>
		<div class="row"></div>

	</div>
{% endblock %}
